html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}
body * { text-shadow: none; }
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: bold;
    margin: 20px 0 10px 0;
}
h1, h2, h3 { font-size: 18px; }
h4, h5, h6 { font-size: 16px; }
p { margin: 0 0 10px 0; }
a, a:link, a:active, a:visited, a:hover {
    color: inherit;
    text-decoration: underline;
}
nav:not(.mm-menu) { display: none; }

.header, .content, .footer { text-align: center; }
.header, .footer {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 40px;

    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    height: 40px;
    padding: 0;
}
.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}
.header.fixed a { cursor: pointer; }
.header.fixed span {
    float: left;
    margin: 0 -35px 0 35px;
    min-width: 50px;
}
.header.fixed span.hide { display: none; }
.header.fixed span.show { display: inline-block; }
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
}
.header a {
    background: center center no-repeat transparent;
    background-size: contain;
    border-radius: 25px;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    left: 10px;
}
.header button {
    background: #fff;
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    margin: 5px 0;
    min-width: 75px;
    position: absolute;
    top: 0;
    right: 10px;
}
.header button.show { display: inline-block; }
.header button.hide { display: none; }
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .header button { line-height: 25px; }
}
.header .hugger {
    background: transparent;
    color: #fff;
    display: block;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.header .hugger nav {
    display: inline-block;
    padding: 0;
    text-align: center;
    width: 33%;
}
.content {
    height: 100%;
    padding: 50px 0 0;
}
@media all and (min-device-width:768px) { .content { padding: 40px 0 0; } }
.content.thanks {
    height: 100%;
    margin: 0 auto;
    padding: 50px 15px 0;
    text-align: justify;
}
@media all and (min-device-width:768px) {
    .content.thanks {
        max-width: 800px;
        padding: 150px 15px 0;
    }
}
.content.thanks h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.content.thanks span {
    display: block;
    text-align: right;
    width: 100%;
}
.content.thanks button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 5px 25px;
    cursor: pointer;
    min-width: 100px;
}
.content.thanks button.btn-red { background: #d9534f; }
.content.thanks button.btn-grey { background: #ccc; }
.content.thanks button.btn-green { background: #5ba525; }

.timelines {
    height: 100%;
    min-height: 500px;
    position: fixed;
}

/** ******************************************* *
 *      Dialog Classes                          *
 ** ******************************************* */
.dialog {
    position: relative;
}
.dialog.show { display: block; }
.dialog.hide { display: none; }
.chatbox {
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 10px;

    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 980;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);

    max-height: 90%;
    max-width: 400px;
    width: 90%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.chatbox .title {
    background: #666;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    position: fixed;
    max-width: 380px;
    width: 100%;
    z-index: 1000;
    right: 0;
    left: 0;
    top: 0;
}
.chatbox .title span {
    float: right;
    font-size: 175%;
    margin-right: 20px;
}
@media all and (min-device-width:768px) { .chatbox .title span { margin-right: 10px; } }
.chatbox .title_bg {
    background: #666;
    height: 25px;
    padding: 5px 10px;
    max-width: 400px;
    width: 100%;    
}
.chatbox .title_btn {
    background: #666;
    height: 55px;
    padding: 5px 10px;
    max-width: 400px;
    width: 100%;    
}
.chatbox .title_btn button {
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #333;
    cursor: pointer;
    font-size: 100%;
    font-weight: bold;
    margin-top: 30px;
    min-width: 100px;
}

.msgbox {
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 10px;

    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 999;

    max-height: 140px;
    max-width: 500px;
    width: 90%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.msgbox .title {
    background: #666;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    width: 100%;
}
.msgbox .message {
    padding: 15px 10px 10px;
    width: 100%;
}
.msgbox .buttons {
    padding: 5px 10px;
    text-align: right;
}
.msgbox .buttons button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    min-width: 100px;
}
.msgbox .buttons button.btn-red { background: #d9534f; }
.msgbox .buttons button.btn-grey { background: #ccc; }
.msgbox .buttons button.btn-green { background: #5ba525; }
.reply {
    background-color: #eee;
    border: 2px solid #666;
    border-radius: 10px;

    margin: auto;
    overflow: visible;
    padding: 1% 1.5%;
    position: fixed;
    z-index: 995;

    max-height: 150px;
    max-width: 400px;
    width: 95%;

    top: 25px;
    left: 0;
    right: 0;
}
.reply input#rpy-sendto,
.reply input#rpy-title {
    background: #fff;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 5px;
    display: none;
    font-size: 110%;
    margin-bottom: 3px;
    padding: 0.75% 0 1% 2%;
    overflow: hidden;
    width: 98%;
}
.reply input#rpy-sendto,
.reply input#rpy-title:focus { outline: 0; }
.reply textarea {
    background: #fff;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 100%;
    height: 100px;
    margin-top: 2px;
    overflow-y: scroll !important;
    padding: 1% 2%;
    text-align: left;
    width: 96%;
}
.reply textarea:focus { outline: 0; }
.reply .actions {
    display: block;
    margin: 0 0 1%;
    text-align: right;
    width: 100%;
}
.reply .actions span {
    color: #333;
    float: left;
    font-size: 125%;
    font-weight: bold;
}
.reply .actions span.red { color: #d9534f; }
.reply .actions button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    min-width: 50px;
}
@media all and (min-device-width:768px) {
    .reply {
        padding: 5px 10px;
        max-height: 200px;
        max-width: 475px;
        width: 95%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .reply .actions {
        margin: 0 10px;
        width: 98%;
    }
    .reply .actions button { min-width: 100px; }
    .reply textarea { height: 150px; }
}
.reply .actions button.btn-red { background: #d9534f; }
.reply .actions button.btn-grey { background: #ccc; }
.reply .actions button.btn-green { background: #5ba525; }
.reply .actions ul {
    color: #fff;
    float: left;
    margin: 1px 0 1px 10px;
    padding: 0;
    text-align: left;
}
.reply .actions ul li {
    background-color: #5ba525;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 100%;
    height: 20px;
    padding: 3px 5px;
    position: relative;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.reply .actions ul li i {
    min-width: 40px;
    text-align: center;
}
.reply .actions ul li ul {
    border: none;
    display: none;
    font-size: 100%;
    padding: 0;
    position: absolute;
    left: -10px;
    top: 35px;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    text-align: left;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
@media all and (min-device-width:768px) {
    .reply .actions ul li i { min-width: 50px; }
    .reply .actions ul li ul {
        top: 30px;
        left: -15px;
    }
}
.reply .actions ul li ul li {
    background: #555;
    border-radius: 10px;
    color: #fff;
    display: block;
    padding: 15px 0 15px 15px;
    margin-bottom: 5px;
}
.reply .actions ul li ul li:hover { background: #666; }
.reply .actions ul li ul li i { font-size: 150%; }
.reply .actions ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.reply .actions ul li#post-drop.hide ul {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.reply .actions ul li#post-drop.show ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.reply.pm, .reply.longpost { max-height: 335px; }
.reply.pm input#rpy-sendto { display: block; }
.reply.longpost input#rpy-title { display: block; }
.reply.pm { height: 175px; }
.reply.longpost textarea { height: 150px; }
@media all and (min-device-width:768px) {
    .reply.pm, .reply.longpost textarea { height: 227px; }
}

.autobox {
    background-color: transparent;
    margin: auto;
    overflow: hidden;
    padding: 5px 0;
    position: fixed;
    z-index: 996;

    max-height: 220px;
    max-width: 400px;
    width: 80%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.autobox span {
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
}
.progress {
    background-color: #2c3539;
    border: 2px solid #2b1b17;
    border-radius: 10px;
    color: #fff;

    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 10px;
    position: fixed;
    z-index: 999;

    max-height: 150px;
    max-width: 400px;
    width: 80%;

    top: 50px;
    left: 0;
    right: 0;
}
.progress i {
    font-size: 175%;
    font-weight: bold;
    margin-left: 5%;
}
.progress span {
    display: inline-block;
    font-weight: normal;
    margin: 2px 0 0 2%;
    vertical-align: top;
}

.photo {
    background-color: #000;
    border-radius: 10px;

    margin: auto;
    overflow: hidden;
    position: fixed;
    z-index: 991;

    max-height: 80%;
    max-width: 100%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media all and (min-device-width:768px) {
    .photo {
        max-height: 80%;
        max-width: 90%;
    }
}
.photo.show { display: block; }
.photo.hide { display: none; }
.photo .close {
    background: transparent;
    background-image: url("../img/close.png");
    background-size: contain;
    display: block;
    float: right;
    height: 50px;
    width: 50px;
}
.photo .panel {
    margin: 25px auto;
    text-align: center;
}
.photo .panel img {
    max-width: 100%;
    height: auto;
    width: auto;
}
.profile {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;

    margin: auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    z-index: 990;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);

    max-height: 80%;
    max-width: 400px;
    width: 95%;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@media all and (min-device-width:768px) {
    .profile {
        max-height: 80%;
        max-width: 350px;
        width: 50%;
    }
}
.profile .close {
    background: transparent;
    background-image: url("../img/close.png");
    background-size: contain;
    display: block;
    float: right;
    height: 50px;
    width: 50px;
}
.profile .banner {
    background: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid #ccc;
    display: block;
    height: 100px;
    width: 100%;
}
.profile .sight {
    background: transparent;
    float: left;
    margin-top: -50px;
    padding: 10px;
    width: 100%;
}
.profile .avatar {
    display: inline-block;
    width: 25%;
}
.profile .avatar img {
    border: 1px solid #ccc;
    border-radius: 10px;
    height: auto;
    width: 90%;
}
.profile .names {
    display: inline-block;
    height: 55px;
    vertical-align: bottom;
    width: 69%;
}
.profile .names h3,
.profile .names h4 {
    margin: 0;
    padding: 0 0 15px;
}
.profile .names h5 {
    float: right;
    font-size: 200%;
    margin-top: -35px;
    text-align: right;
}
.profile .names h5 ul {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 4px 0 0;
    text-align: right;
}
.profile .names h5 ul li {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin: 0 -4px 10px 0;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}
.profile .names h5 ul li ul {
    display: none;
    padding: 0;
    position: absolute;
    left: -155px;
    top: 40px;
    width: 175px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
.profile .names h5 ul li#profile-drop.hide ul {
    display: none;
    opacity: 0;
    visibility: hidden;
}
.profile .names h5 ul li#profile-drop.show ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
@media all and (min-device-width:768px) {
    .profile .names { height: 72px; }
    .profile .names h5 ul li { border-radius: 0px; }
    .profile .names h5 ul li ul {
        top: 35px;
        left: -155px;
    }
}
.profile .names h5 ul li ul li {
    background: #555;
    border-radius: 10px;
    color: #fff;
    display: block;
    font-size: 50%;
    margin-bottom: 3px;
    padding: 15px 15px 15px 0;
}
.profile .names h5 ul li ul li:hover { background: #666; }
.profile .names h5 ul li:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
}
.profile .names h3 {
    color: #fff;
    text-shadow: 2px 1px #000;
}
.profile .info {
    padding: 0 10px;
    margin-bottom: 10px;
}
.profile .info a {
    font-weight: bold;
    text-decoration: none;
}
.profile .info verified {
    color: #5ba525;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    width: 100%;
}
.profile .actions {
    display: block;
    padding: 0 10px;
    margin-bottom: 10px;
    text-align: right;
}
.profile .actions em {
    color: #00f;
    float: left;
    margin-top: 5px;
}
.profile .actions span {
    color: #00f;
    font-style: italic;
}
.profile .user-item .buttons button,
.profile .actions button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    padding: 5px 15px;
    cursor: pointer;
    min-width: 60px;
}
@media all and (min-device-width:768px) {
    .profile .user-item .buttons button,
    .profile .actions button {
        min-width: 100px;
    }
}
.profile .user-item .buttons button.btn-red,
.profile .actions button.btn-red { background: #d9534f; }
.profile .user-item .buttons button.btn-green,
.profile .actions button.btn-green { background: #5ba525; }
.profile .numbers {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    width: 100%;
}
.profile .numbers .detail {
    display: inline-block;
    text-align: center;
    width: 32%;
}
.profile .numbers .detail p { margin: 0; }
.profile .numbers .history {
    border-bottom: 1px solid #ccc;
    display: block;
    height: 50px;
    overflow: hidden;
    padding-top: 1px;
    text-align: right;
}
.profile .numbers .history .item {
    background-color: #00f;
    display: inline-block;
    margin: 0 1px;
    vertical-align: bottom;
    width: 1.2%;
}
@media all and (min-device-width:768px) {
    .profile .numbers .history .item { width: 1.35%; }
}
.profile .numbers .history .item red {
    background-color: #f00;
    display: block;
}
.profile .numbers .history .item blue {
    display: block;
}
.profile .numbers .score {
    border-bottom: 1px solid #ccc;
    display: block;
    overflow: hidden;
    padding: 1px 5px 0;
    text-align: left;
}

.profile .post-item {
    border-bottom: 1px solid #ccc;
    display: block;
    overflow-x: hidden;
    padding: 0 5px;
}

.profile .post-item .post-content {
    padding: 5px 10px;
    text-align: left;
}
.profile .post-item .post-content p {
    margin: 0;
    text-align: right;
}

.profile .user-item {
    border-bottom: 1px solid #ccc;
    display: block;
    overflow-x: hidden;
    padding: 5px;
}

.profile .user-item img {
    background: #fff;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    float: left;

    max-height: 50px;
    max-width: 50px;
    height: auto;
    width: auto;
}

.profile .user-item strong {
    display: inline-block;
    margin-left: 5px;
    vertical-align: top;
}

.profile .user-item .buttons {
    display: block;
    margin: 5px 0;
    text-align: right;
}

.profile .user-item .buttons em {
    float: left;
    margin: 3px 0 0 5px;
}

/** ******************************************* *
 *      User Classes                            *
 ** ******************************************* */
.userlist {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid #ccc;
    display: inline-block;
    float: left;
    overflow-x: hidden;
    height: 100%;
    width: 100%;

    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
@media all and (min-device-width:768px) {  .userlist { max-width: 480px; } }

/** ******************************************* *
 *      Post Classes                            *
 ** ******************************************* */
 #chat_posts .chat,
.post-list {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 1px solid #ccc;
    display: inline-block;
    float: left;
    overflow: auto;
    height: 100%;
    width: 100%;

    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
}
#chat_posts.chat.show .post-item.post-collapsed {
    cursor: pointer;
    text-align: center;
}
#chat_posts.chat.show .post-item.post-collapsed.item {
    display: block;
    text-align: center;
    width: 100%;
}
#chat_posts.chat.show .post-item.post-minimum { display: none; }
@media all and (min-device-width:768px) {  .post-list { max-width: 480px; } }
.post-list .mobile-hide { display: none; }
@media all and (min-device-width:768px) {  .post-list .mobile-hide { display: inline-block; } }
.post-list.tl-home { background-image: url("../img/home.png"); }
.post-list.tl-global { background-image: url("../img/global.png"); }
.post-list.tl-interact { background-image: url("../img/interact.png"); }
.post-list.tl-mentions { background-image: url("../img/mentions.png"); }
.post-list.tl-pms { background-image: url("../img/pms.png"); }
.post-list.tl-userlist { background-image: url("../img/users.png"); }
#user_posts .post-item,
.post-list .pulse-item,
.post-list .post-item,
.chat .post-item {
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    width: 100%;
}
.post-list .pulse-item { text-align: left; }
.post-list .pulse-item .pulse-avatar,
#user_posts .post-item .post-avatar { display: none; }
#user_posts .post-item .post-avatar.repost,
.post-list .post-item .post-avatar,
.chat .post-item .post-avatar {
    background: transparent;
    display: inline-block;
    margin-left: 0;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
    height: 60px;
    width: 60px;
    max-height: 60px;
    max-width: 60px;
}
@media all and (min-device-width:768px) {
    .post-list .pulse-item .pulse-avatar,
    .post-list .post-item .post-avatar,
    .chat .post-item .post-avatar {
        margin-left: 10px;
        max-height: 75px;
        max-width: 75px;
        text-align: left;
    }
}
#user_posts .post-item .post-avatar .avatar-round,
.post-list .pulse-item .pulse-avatar .avatar-round,
.post-list .post-item .post-avatar .avatar-round,
.chat .post-item .post-avatar .avatar-round {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
}
@media all and (min-device-width:768px) {
    .post-list .pulse-item .pulse-avatar .avatar-round,
    .post-list .post-item .post-avatar .avatar-round,
    .chat .post-item .post-avatar .avatar-round {
        border-radius: 50px;
        height: 50px;
        max-height: 50px;
        max-width: 50px;
        padding: 2px;
        width: 50px;
    }
}
.post-list .post-item .post-avatar img.avatar-round.recent-acct { border: 2px solid #d9534f; }
.post-list .post-item .post-avatar img.avatar-round.new-acct { border: 2px solid #ff0; }
.post-list .post-item .post-avatar img.avatar-round.mention { border: 2px solid #00f; }
#userlist.post-list.tl-userlist .post-item .post-content { min-height: 80px; }
#userlist.post-list.tl-userlist .post-item .pulse-content {
    background: #eee;
    background-color: #eee;
    margin: 0 5%;
    overflow-wrap: break-word;
    padding: 5px 2.5%;
    text-align: left;
    width: 85%;
}
#userlist.post-list.tl-userlist .post-item .post-content .buttons { min-height: 30px; }
#userlist.post-list.tl-userlist .post-item .post-content .user-detail { margin-bottom: 5px; }
#userlist.post-list.tl-userlist .post-item .post-content .user-detail p { margin: 0; }
#userlist.post-list.tl-userlist .post-item .post-content .buttons button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    float: right;
    padding: 5px 15px;
    cursor: pointer;
    min-width: 60px;
}
@media all and (min-device-width:768px) {
    #userlist.post-list.tl-userlist .post-item .post-content .buttons button { min-width: 100px; }
}
#userlist.post-list.tl-userlist .post-item .post-content .buttons button.btn-red { background: #d9534f; }
#userlist.post-list.tl-userlist .post-item .post-content .buttons button.btn-green { background: #5ba525; }
#userlist.post-list.tl-userlist .post-item .pulse-content .post-time {
    margin: 0;
    text-align: right;
}
#userlist.post-list.tl-userlist .post-item .pulse-content span {
    display: block;
    margin-bottom: 5px;
}
#userlist.post-list.tl-userlist .post-item .pulse-content span span {
    display: inline-block;
    margin: 0;
}
#userlist.post-list.tl-userlist .post-item .numbers {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 0 5%;
    padding: 0 2.5%;
    width: 85%;
}
#userlist.post-list.tl-userlist .post-item .numbers .detail {
    display: inline-block;
    text-align: center;
    width: 24%;
}
#userlist.post-list.tl-userlist .post-item .numbers .detail p { margin: 0; }

#user_posts .post-item .post-content,
.post-list .pulse-item .pulse-content,
.post-list .post-item .post-content,
.chat .post-item .post-content {
    background: transparent;
    display: inline-block;
    overflow-wrap: break-word;
    text-align: left;
    vertical-align: top;
    width: 70%;
    word-break: break-word;
    word-wrap: break-word;
}
@media all and (min-device-width:768px) {
    #user_posts .post-item .post-content,
    .post-list .pulse-item .pulse-content,
    .post-list .post-item .post-content,
    .chat .post-item .post-content {
        width: 75%;
    }
}
#user_posts .post-item .post-content { width: 93%; }
#user_posts .post-item .post-content.repost { width: 70%; }
@media all and (min-device-width:768px) {
    #user_posts .post-item .post-content { width: 93%; }
    #user_posts .post-item .post-content.repost { width: 77%; }
}

.post-list .pulse-item .pulse-content {
    display: block;
    padding: 0 5%;
    width: 90%;
    word-break: break-word;
    word-wrap: break-word;
}
@media all and (min-device-width:768px) {
    .post-list .post-item .post-content {
        padding-right: 5%;
        width: 70%;
    }
}
.post-list .pulse-item .pulse-content item {
    background-color: #eee;
    display: block;
    padding: 2% 2.5%;
    width: 95%;
}
.chat .post-item.post-grey { background: #eee; }
#userlist.post-list.tl-userlist .post-item .pulse-content a,
#user_posts .post-item .post-content a,
.post-list .pulse-item .pulse-content item a,
.post-list .post-item .post-content a,
.chat .post-item .post-content a {
    font-weight: bold;
    text-decoration: none;
}
#user_posts .post-item .post-content p,
.post-list .pulse-item .pulse-content item,
.post-list .post-item .post-content p,
.chat .post-item .post-content p {
    text-align: left;
}
#userlist.post-list.tl-userlist .post-item .pulse-content span,
#user_posts .post-item .post-content span,
.post-list .pulse-item .pulse-content item,
.post-list .post-item .post-content span,
.chat .post-item .post-content span {
    font-weight: normal;
}

#userlist.post-list.tl-userlist .post-item .pulse-content em,
.post-list .pulse-item .pulse-content em {
    display: block;
    font-style: italic;
    font-weight: normal;
    text-align: right;
    width: 100%;
}
#user_posts .post-item .post-content em,
.post-list .pulse-item .pulse-content item em,
.post-list .post-item .post-content em,
.chat .post-item .post-content em {
    cursor: pointer;
    font-weight: bold;
    font-style: normal;
}
#user_posts .post-item .post-content .post-name { display: none; }
#user_posts .post-item .post-content .post-name.repost,
.post-list .post-item .post-content .post-name,
.chat .post-item .post-content .post-name {
    background: transparent;
    display: block;
    margin: 5px 0;
    text-align: left;
    text-decoration: none;
}
#user_posts .post-item .post-content .post-client {
    font-weight: normal;
    margin: 0;
    text-align: right;
    text-decoration: none;
}
#user_posts .post-item .post-content .post-client em {
    font-style: italic;
    font-weight: normal;
}
.post-list .post-item .post-content .post-client,
.chat .post-item .post-content .post-client {
    display: none;
}
#user_posts .post-item .post-content .post-time,
.post-list .post-item .post-content .post-time,
.chat .post-item .post-content .post-time {
    background: transparent;
    text-align: right;
    text-decoration: none;
}
#user_posts .post-item .post-map,
.chat .post-item .post-map,
.post-list .post-item .post-map {
    background: transparent;
    cursor: pointer;
    height: 100px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
#user_posts .post-item .post-geo,
#user_posts .post-item .post-image,
.chat .post-item .post-image,
.post-list .post-item .post-geo,
.post-list .post-item .post-image {
    background: transparent;
    cursor: pointer;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
}
#user_posts .post-item .post-geo,
#user_posts .post-item .post-image img,
.chat .post-item .post-image img,
.post-list .post-item .post-geo,
.post-list .post-item .post-image img {
    cursor: pointer;
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: left;
    width: 100%;
}
#user_posts .post-item .post-audio,
.chat .post-item .post-audio,
.post-list .post-item .post-audio {
    cursor: pointer;
    margin: 15px 0 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 5%;
    text-align: left;
    width: 90%;
}
#user_posts .post-item .post-audio,
.chat .post-item .post-audio audio,
.post-list .post-item .post-audio audio {
    margin: 0;
    width: 100%;
}
#user_posts .post-item .post-audio p,
.chat .post-item .post-audio p,
.post-list .post-item .post-audio p {
    text-align: center;
    width: 100%;
}
#user_posts .post-item .post-actions,
.post-list .post-item .post-actions,
.chat .post-item .post-actions {
    font-size: 200%;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
}
#user_posts .post-item .post-actions.hide,
.post-list .post-item .post-actions.hide,
.chat .post-item .post-actions.hide { display: none; }
#user_posts .post-item .post-actions.show,
.post-list .post-item .post-actions.show,
.chat .post-item .post-actions.show { display: block; }
#user_posts .post-item .post-actions span,
.post-list .post-item .post-actions span,
.chat .post-item .post-actions span {
    display: inline-block;
    text-align: center;
    min-width: 60px;
    width: 10%;
}
#user_posts .post-item .post-actions span.highlight,
.post-list .post-item .post-actions span.highlight,
.chat .post-item .post-actions span.highlight { color: #00f; }
@media all and (min-device-width:768px) {
    #user_posts .post-item .post-actions span,
    .post-list .post-item .post-actions span,
    .chat .post-item .post-actions span {
        min-width: 50px;
        width: 10%;
    }
}







.chat .post-item .post-actions span ul {
    display: none;
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    left: -50%;
    top: 0;
    width: 220px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}



#user_posts .post-item .post-actions.show span ul.rbdrop.hide,
.post-list .post-item .post-actions.show span ul.rbdrop.hide,
.chat .post-item .post-actions.show span ul.rbdrop.hide {
    display: none;
    opacity: 0;
    visibility: hidden;
}
#user_posts .post-item .post-actions.show span ul.rbdrop.show,
.post-list .post-item .post-actions.show span ul.rbdrop.show,
.chat .post-item .post-actions.show span ul.rbdrop.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.chat .post-item .post-actions span ul.rbdrop.show li {
    background: #000;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 80%;
    margin: 5px 0 0;
    padding: 5px 10px;
    position: relative;
    text-align: right;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
}


#user_posts .post-item .post-video,
.post-list .post-item .post-video {
    background: transparent;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 100px;
    text-align: left;
}
#user_posts .post-item .post-video img,
.post-list .post-item .post-video img {
    background: transparent;
    display: inline-block;
    max-width: 25%;
    max-height: 100px;
    height: auto;
    overflow-y: hidden;
}
.pm-content {
    background: #eee;
    float: left;
    height: 100%;
    overflow-y: scroll;
}
.pm-content .post-item {
    padding: 5px 15px;
    width: 95%;
}
.pm-content .post-item.left { text-align: left; }
.pm-content .post-item.right { text-align: right; }
.pm-content .post-item .post-avatar {
    display: inline-block;
    vertical-align: top;
}
.pm-content .post-item.left .post-avatar { float: left; }
.pm-content .post-item.right .post-avatar { float: right; }
.pm-content .post-item .post-avatar img {
    border: 1px solid #333;
    border-radius: 75px;
    margin: 0 15px;
    padding: 2px;
    max-width: 75px;
    height: 75px;
    width: 75px;
}
.pm-content .post-item .post-content {
    background: #fff;
    border-radius: 15px;
    display: inline-block;
    padding: 0 15px;
    text-align: left;
    text-overflow: ellipsis;
    min-width: 45%;
    max-width: 75%;
}
#site-name {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 90%;
}
@media all and (max-device-width:600px) {
    #site-name { display: none; }
}
.chatbox div#pref-list.chat {
    padding: 40px 10px 10px;
}
.chatbox div#pref-list.chat strong {
    display: block;
    width: 95%;
}
.chatbox div#pref-list.chat b {
    display: inline-block;
    width: 25%;
    text-align: right;
    margin-right: 5%;
}
.chatbox div#pref-list.chat version {
    bottom: 5px;
    left: 0;
    right: 0;
    padding: 0 5%;
    position: absolute;
    text-align: right;
    width: 90%;
}
.chatbox div#pref-list.chat label {
    display: inline-block;
    margin-right: 10px;
    padding: 7px 0 5px;
    text-align: right;
    width: 50%;
}
.chatbox div#pref-list.chat input {
    display: inline-block;
    font-size: 125%;
    height: 22px;
    margin-right: 10px;
    text-align: center;
    width: 25%;
}
.chatbox div#pref-list.chat ex {
    border: 1px solid #000;
    display: inline-block;
    height: 20px;
    width: 5%;
}
.chatbox div#chat_posts.chat {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 40px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chatbox div#chat_posts.chat.pms { top: 60px; }
@media all and (min-device-width:768px) {
    .chatbox div#pref-list.chat ex { width: 10%; }
}
.chatbox div#pref-list.chat select {
    padding: 5px 10px;
    width: 40%;

    -webkit-appearance: none;
    -moz-appearance: none;
}
.chatbox div#pref-list.chat button {
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 100%;
    font-weight: bold;
    margin: 25px 15px 0 0;
    padding: 5px 25px;
    cursor: pointer;
    min-width: 100px;
}
@media all and (max-device-width:600px) {
    .chatbox div#pref-list.chat button { min-width: 60px; }
}
.chatbox div#pref-list.chat button.btn-red { background: #d9534f; }
.chatbox div#pref-list.chat button.btn-grey { background: #ccc; }
.chatbox div#pref-list.chat button.btn-green { background: #5ba525; }
.chatbox div#pref-list.chat button.btn-half {
    background: #5ba525;
    float: none;
    margin: 5px 2.5%;
    width: 45%;
}
.chatbox div#pref-list.chat button.btn-prefs {
    background: #5ba525;
    float: none;
    margin: 5px 2.5%;
    min-height: 105px;
    width: 45%;
    vertical-align: top;
}
.chatbox div#pref-list.chat button.btn-prefs i {
    display: block;
    font-size: 225%;
    width: 100%;
}
@media all and (min-device-width:768px) {
    .chatbox div#pref-list.chat button.btn-prefs i { font-size: 400%; }
}
.chatbox div#pref-list.chat button.btn-prefs span {
    display: block;
    margin: 3px 0 2px;
}
.chatbox div#pref-list.chat button.btn-prefs img {
    border: 1px solid #eee;
    border-radius: 50px;
    padding: 3px;
    height: 65px;
    width: 65px;
    max-width: 65px;
    max-height: 65px;
}
@media all and (min-device-width:768px) {
    .chatbox div#pref-list.chat button.btn-prefs img {
        height: 75px;
        width: 75px;
        max-width: 75px;
        max-height: 75px;
    }
}
.fileUpload {
    display: inline-block;
    float: left;
    margin-left: 10px;
    position: relative;
    width: 50px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 50px;
}